.services{
    width:90%;
    margin:80px auto;
    display:flex;
    justify-content:space-between;
}

.service-card{
    width:300px;
    padding:30px;
    border-radius:18px;
}

.service-card.active{
    background:#f5f7f2;
}

.icon{
    width:55px;
    height:55px;
    background:#4d7c0f;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

.service-card h3{
    margin:20px 0 10px;
    font-size:26px;
}

.service-card p{
    color:#777;
    line-height:1.6;
}


.join{
    width:90%;
    margin:80px auto;
    position:relative;
}

.join img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:30px;
}

.overlay{
    position:absolute;
    inset:0;
    border-radius:30px;
    background:linear-gradient(
    to top,
    rgba(55,110,0,.92),
    rgba(55,110,0,.1)
    );
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    padding-bottom:60px;
    color:#fff;
}

.overlay h2{
    font-size:40px;
}

.overlay p{
    margin:15px 0 25px;
}

.overlay button{
    padding:15px 35px;
    background:#ff9800;
    color:#fff;
    border:none;
    border-radius:30px;
    cursor:pointer;
}


