.about-banner {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-overlay h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-overlay p {
  color: white;
  font-size: 18px;
}

.about-overlay span {
  color: #65b741;
  margin: 0 5px;
}