.profile-hero {
  width: 100%;
  height: 360px;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, .35);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay h1 {
  color: white;
  font-size: 60px;
  font-family: "Pacifico", cursive;
}

.overlay p {
  color: white;
  margin-top: 10px;
}

.user-img {
  position: absolute;
  left: 80px;
  bottom: -55px;

  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}