.hdr {
    display: flex;
    justify-content: space-around;
    padding: 20px 45px;
    align-items: center;
    background-color: #FAFAFA;

}

.ul-li {
    align-items: center;
    display: flex;
    gap: 20px;
    text-align: center;
    color: black;
}
.ul-li a {
    color: #000000;
}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn button {
    width: 149px;
    height: 40px;
    color: white;
    background: #224300;
    border: none;
    border-radius: 30px;
}



