.notfound-banner{
    width:100%;
    height:130px;
    background-size:cover;
    background-position:center;
}

.banner-overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.35);
}

.error-section{
    padding:70px 0;
    text-align:center;
}

.error-section img{
    width:350px;
}

.error-section h2{
    font-size:34px;
    margin-top:20px;
    color:#222;
}

.error-section p{
    width:520px;
    margin:20px auto;
    color:#888;
    line-height:28px;
}

.error-section button{
    background:#3d6b0b;
    color:white;
    border:none;
    padding:12px 35px;
    border-radius:25px;
    cursor:pointer;
}